.env
public_key.txt
status.md
gemini.md
node_modules
*.xlsx
**/llm_outputs/

experiments/integral_test_benchmark/integral_test_benchmark(legacy)/

experiments/integral_test_benchmark/Integral Analysis 2.1.txt
experiments/integral_test_benchmark/Integral Test 2.odt
experiments/integral_test_benchmark/Integral Test 2.txt
experiments/integral_test_benchmark/Integral_Test_2_Analysis.md
experiments/integral_test_benchmark/Integral_Test_Analysis_2.synctex.gz
